body {
  overflow: hidden;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: solid 2px rgb(184, 122, 247);
}

.webcam-container {
  width: 100%; /* 親要素の幅に合わせてレスポンシブに調整 */
  max-width: 100%; /* 必要に応じて最大幅を設定 */
  overflow: hidden; /* 要素のオーバーフローを制御（必要に応じて） */
  height: 100vh;
}

.camera-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  svg {
    font-size: 2.5rem;
    color: rgb(184, 122, 247);
  }
}

.button-area {
  position: absolute;
  top: 50%; /* 上端を画面の50%に設定 */
  left: 50%; /* 左端を画面の50%に設定 */
  transform: translate(-50%, -50%); /* 中央揃え */
}

.button-area button:not(:first-of-type) {
  margin-top: 1rem;
}

.save-status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ae57ff9c;
  color: #fff;
  padding: 1rem;
  font-weight: bold;
}