body {
  overflow: hidden;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: solid 2px rgb(184, 122, 247);
  cursor: pointer;
  svg {
    font-size: 4rem;
    color: rgb(184, 122, 247);
  }
}

.-active {
  background: rgb(226, 198, 255);;
}

.webcam-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
}

.camera-button {
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%);
}

.button-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-area button:not(:first-of-type) {
  margin-top: 1rem;
}

.save-status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ae57ff9c;
  color: #fff;
  padding: 1rem;
  font-weight: bold;
}

.main-image {
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: -50px;
}

.-beside {
  right: -50px;
}

.-vertical {
  right: -210px;
}

.button-group {
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
}

.button-group button:not(:first-of-type) {
  margin-top: 0.5rem;
}

.toggle-button {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
}